html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.video-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;

}

.video, .image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

button.close-canvas {
  top: 30px;
  right: 20px;
  position: fixed;
  border-radius: 150px;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.inputs {
  display: flex;
  margin-top: 1rem;
  padding: 0 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.inputs label {
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.inputs input {
  flex: 1;
  margin: 0 0.5rem;
}

button {
  background: burlywood;
  padding: .5rem;
  display: flex;
  align-items: center;
  font-size: 18px;
  border: none;
  outline: none;
  color: saddlebrown;
  justify-content: center;
}

.hidden {
  display: none;
}

.action-button {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
}